<% title "Ebay Marketplace Settings - Ebay Fulfillment" %>

<% content_for :javascript do %>
  <%= javascript_pack_tag 'ebay_fulfillment_edit' %>
<% end %>

<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :fulfillment_policy %>
    </div>
    <div class="column">
      <h2 class="subtitle">Fulfillment Policy</h2>
      <div class="notification is-danger is-hidden"></div>
      <% if !@current_user.user_ebay %>
        <p>Please setup your API Token using the menu before setting up fulfillment policy.</p>
      <% else %>
        <p>Your fulfillment policy specifies your shipping rates and shipping lead time.</p>
        <p>Your eBay business policies are managed on your <a href="https://www.bizpolicy.ebay.com/businesspolicy/manage" target="_blank">eBay account page</a></p>

        <%= form_with url: ebay_fulfillment_path, html: { method: :patch } do |f| %>
          <div class="field is-narrow">
            <div class="control">
              <label class="label">Policy</label>
              <div class="select">
                <%= f.select('policy_id', options_for_select(['Select Fulfillment Policy'] + @policies, selected: @policy_id, disabled: 'Select Fulfillment Policy'))  %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link" data-disable-with="Saving...">Save</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
