<% title "Ebay Marketplace Settings - Ebay Returns" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :return_policy %>
    </div>
    <div class="column">
      <h2 class="subtitle">Return Policy</h2>
      <% if !@current_user.user_ebay %>
        <p>Please setup your API Token using the menu before setting up your return policy.</p>
      <% else %>
        <p>Your return policy specifies how your returns work on eBay.</p>
        <p>Your eBay business policies listed below are managed on your <a href="https://www.bizpolicy.ebay.com/businesspolicy/manage" target="_blank">eBay account page</a></p>

        <%= form_with url: ebay_return_path, html: { method: :patch } do |f| %>
          <div class="field is-narrow">
            <div class="control">
              <label class="label">Policy</label>
              <div class="select">
                <%= f.select('policy_id', options_for_select(['Select Return Policy'] + @policies, selected: @policy_id, disabled: 'Select Return Policy'))  %>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-link" data-disable-with="Saving...">Save</button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
