<% title "Ebay Marketplace Settings - Ebay Notification Callbacks" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :notification %>
    </div>
    <div class="column">
      <h2 class="subtitle">API Notifications</h2>
      <% if !@current_user.user_ebay %>
        <p>Please setup your API Token using the menu before setting up notifications.</p>
      <% elsif !@current_user.user_ebay.legacy_auth_token %>
        <p>In order for us to receive notifications about your sales, we need you to setup a legacy authorization token with ebay.</p><p>This lets us get notifications about your sales so that we can adjust your inventory when sales happen on EBay.</p>
        <p>Please note that this will replace any other api notification settings you have setup for other integrations with your ebay account.</p>
        <%= form_tag start_fetch_legacy_token_ebay_token_path, method: :get do %>
          <button type="submit" class="button is-primary">Grant Notification Access</button>
        <% end %>
      <% else %>
        <p><strong>Your ebay notification access token is complete!</strong></p>
      <% end %>
    </div>
  </div>
</div>
