<div class="container">
  <%= render 'shared/ebay_tabs', active_tab: :fulfillment_policy %>
  <p class="notification" style="margin-bottom: 1rem;">
    Ensure you are within your sales limits on ebay. If you exceed them, your inventory changes may not appear as listings on ebay's site.
  </p>

  <table class="table is-striped">
    <tr>
      <th>Maximum Monthly Sales</th>
      <td><%= @ebay_selling_stats[:max] %> sales</td>
    </tr>
    <tr>
      <th>Maximum Monthly Sold Value</th>
      <td>$<%= @ebay_selling_stats[:value] %></td>
    </tr>
  </table>
</div>
