<% title "Ebay Marketplace Settings" %>
<div class="container">
  <h1 class="title">Ebay Settings</h1>
  <p>Use the steps below to complete your ebay seller connection:</p>
  <h2 class="subtitle">Ebay OAuth2 Token</h2>
  <% if !@has_ebay %>
    <p>You haven't authorized us to post to your ebay account on your behalf. Use the button below to grant.</p>
    <%= form_tag controller: :ebay, action: :request_grant, method: :post do %>
      <button type="submit" class="button is-primary">Grant Access</button>
    <% end %>
  <% else %>
    <p><strong>Your ebay OAuth2 token is complete!</strong></p>
  <% end %>
  <% if @has_ebay %>
    <h2 class="subtitle">Ebay Location</h2>
    <% if !@has_system_address %>
      <p>You haven't entered your address. Please use the <code>Address</code> header menu to enter it.</p>
    <% elsif @has_ebay && !@has_ebay_address %>
      <%= form_tag controller: :ebay, action: :create_ebay_address, method: :post do %>
        <button type="submit" class="button is-primary">Sync Address To Ebay</button>
      <% end %>
    <% elsif @has_ebay_address %>
      <p><strong>Your EBay address is all sync'd!</strong></p>
    <% end %>
  <% end %>
</div>
