<div class="tabs">
  <ul>
    <li<% if local_assigns[:active_tab] == :token %> class="is-active"<% end %>>
      <a href="<%= ebay_token_path %>">
        <span class="icon is-small"><i class="fas <%= @has_ebay ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>API Token</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :notification %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= ebay_notification_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!(@current_user.user_ebay && @current_user.user_ebay.legacy_auth_token) ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Ebay Notifications</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :location %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= edit_ebay_location_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!@ebay_location ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Location</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :fulfillment_policy %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= edit_ebay_fulfillment_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!@ebay_fulfillment_policy ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Fulfillment</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :payment_policy %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= edit_ebay_payment_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!@ebay_payment_policy_id ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Payment Policy</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :return_policy %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= edit_ebay_return_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!@ebay_return_policy ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Returns</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :template %> class="is-active"<% end %>>
      <a <% if @has_ebay %>href="<%= edit_ebay_template_path %>"<% else %> class="has-text-grey-lighter  "<% end %>>
        <span class="icon is-small"><i class="fas <%= !!@ebay_template? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span>
        <span>Listing Template</span>
      </a>
    </li>
    <li<% if local_assigns[:active_tab] == :usage %> class="is-active"<% end %>>
      <a href="<%= ebay_usage_path %>">
        <span class="icon is-small"><i class="fas" aria-hidden="true"></i></span>
        <span>Ebay Usage</span>
      </a>
    </li>
  </ul>
</div>
