<aside class="menu">
  <p class="menu-label"><strong>EBay</strong></p>
  <ul class="menu-list">
    <li>
      <%= link_to ebay_token_path, class: local_assigns[:active_tab] == :token ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_ebay ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> API Access
      <% end %>
    </li>
    <li>
      <%= link_to ebay_notification_path, class: local_assigns[:active_tab] == :notification ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_ebay_legacy_token ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> API Notifications
      <% end %>
    </li>
    <li>
      <%= link_to edit_ebay_location_path, class: local_assigns[:active_tab] == :location ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @ebay_location ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> Location
      <% end %>
    </li>
    <li>
      <%= link_to edit_ebay_fulfillment_path, class: local_assigns[:active_tab] == :fulfillment_policy ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_ebay_fulfillment_policy ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> Fulfillment Policy
      <% end %>
    </li>
    <li>
      <%= link_to edit_ebay_payment_path, class: local_assigns[:active_tab] == :payment_policy ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_ebay_payment_policy ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> Payment Policy
      <% end %>
    </li>
    <li>
      <%= link_to edit_ebay_return_path, class: local_assigns[:active_tab] == :return_policy ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_ebay_return_policy ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> Return Policy
      <% end %>
    </li>
    <li>
      <%= link_to 'Custom Listing Template', edit_ebay_template_path, class: local_assigns[:active_tab] == :template ? 'is-active' : nil %>
    </li>
  </ul>
  <p class="menu-label"><strong>Shopify</strong></p>
  <ul class="menu-list">
    <li>
      <%= link_to shopify_token_path, class: local_assigns[:active_tab] == :shopify_token ? 'is-active' : nil do %>
        <span class="icon is-small"><i class="fas <%= @has_shopify ? 'fa-check-square' : 'fa-exclamation-triangle' %>" aria-hidden="true"></i></span> API Access
      <% end %>
    </li>
  </ul>
</aside>
