<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <h1 class="title">
            Synkt manages your Magic: the Gathering sales inventory.
          </h1>
          <h2 class="subtitle">
            One place to manage your inventory.<br>
            List them on popular selling platforms.
          </h2>
        </div>
        <div class="column">
          <%= image_tag 'home-preview-optimized.gif' %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">Synkt Features</h1>
        <h2 class="subtitle is-5">Sychronize your inventory across multiple sales platforms from a single interface.</h2>
        <p>We'll automatically create, manage and update your listings on eBay and Shopify based on your Synkt inventory.</p>
        <p>We use stock images of every card so that you don't have to worry about taking individual photos of all your cards. Let us do the hard work!</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Listing Mangement</h2>
        <p>We list a subset of your inventory so that you won't oversell when cards spike in price.</p>
        <p>If you have 50 copies of a card, put them all in the management interface and, we'll only list 8 at a time.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Sales Notifications</h2>
        <p>When your listings sell eBay or Shopify, we'll remove the quantity sold from your Synkt account so you're always up to date on your quantity.</p>
        <p>We'll then update all of your linked platforms with your new inventory.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Pricing Guide</h2>
        <p>See the current market price of cards right next to your inventory so you know the price you set is right.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Free &amp; Open Source</h2>
        <p>Synkt is completely free to use. Manage and list your whole inventory for free!</p>
        <p>Want to collaborate or learn about web services? Source code for this project is located on <a href="https://gitlab.com/cardsync" target="_blank">GitLab</a>
        <p>Yes, it's really free! We don't sell or compromise your data.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">Ebay Integration</h1>
        <h2 class="subtitle is-5">Automatically create and manage your Ebay listings</h2>
        <%= image_tag('ebay.svg', width: 400) %>
        <%= image_tag 'ebay_listing.png' %>
        <p>We'll automatically create, manage and update your Ebay listings based on your Synkt inventory.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">List playsets</h2>
        <p>If you have more than 4 copies of a card we'll create two listings: a 1x listing and a 4x listing.</p>
        <p>Playset listings are more convienent for both the buyer and the store.</p>
        <p>When you drop below 4 copies of a card in your inventory, we'll automatically remove the 4x listing.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Listing templates</h2>
        <p>We provide a reasonable default listing template for you.</p>
        <p>If you have custom html you want to use, you can use it in your listings.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">Shopify Integration</h1>
        <h2 class="subtitle is-5">Automatically create and manage inventory and categories in your Shopify store</h2>
        <%= image_tag('shopify.svg', width: 400) %>
        <%= image_tag 'shopify.png' %>
        <p>We'll automatically create, manage and update inventory and categories in your Shopify store.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Inventory management</h2>
        <p>We'll sync at most 8 copies of your inventory to shopify using stock photos.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Category management</h2>
        <p>We'll manage categories for you based on MTG sets. Your inventory will automatically be added to Shopify categories grouped together by their set.</p>
        <p>You can also manually add inventory to your own custom categories like a home page category.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Order Notifications</h2>
        <p>When an order is placed in your Shopify store, we'll be notified and adjust your inventory.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">TCGPlayer Integration</h1>
        <h2 class="subtitle is-5">Coming Soon</h2>
        <div class="content">
          <p>TCGPlayer integration for TCGPlayer Pro sellers is coming soon!</p>
        </div>
      </div>
    </div>
  </div>
</section>
