<% title "Manage Your Inventory" %>
<section class="section">
  <div class="container">
    <h1 class="title">Your card inventory</h1>
    <% if !(@current_user.user_ebay && @current_user.user_ebay.auth_token && @current_user.user_ebay.legacy_auth_token) && !@current_user.user_shopify %>
      <p class="notification is-danger" style="margin-bottom: 1rem;">
        You haven't setup your marketplace settings, so none of your inventory will sync. <%= link_to 'Setup your marketplace settings now.', marketplace_settings_path %>
      </p>
    <% end %>
    <%= form_with method: :get, class: 'search', local: true do |form| %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field is-narrow">
            <p class="control">
              <%= text_field_tag('card[name]', params.fetch(:card, {})[:name], class: 'input', placeholder: 'Card Name') %>
            </p>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <div class="select">
                <%= select_tag('card[set_id]', options_for_select(['Set'] + @card_sets.map { |cs| [cs.name, cs.id] }, selected: params.fetch(:card, {}).fetch(:set_id, 'Set'))) %>
              </div>
            </div>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <div class="select">
                <%= select_tag('card[condition]', options_for_select(['Condition'] + @conditions, selected: params.fetch(:card, {}).fetch(:condition, 'Condition'))) %>
              </div>
            </div>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <div class="select">
                <%= select_tag('card[rarity]', options_for_select(['Rarity'] + @rarities, selected: params.fetch(:card, {}).fetch(:rarity, 'Rarity'))) %>
              </div>
            </div>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="card[in_stock]">
                In Stock Only
              </label>
            </div>
          </div>
          <div class="field is-narrow">
            <div class="control">
              <button class="button is-link">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= paginate @user_card_conditions, window: 10 %>
    <div class="table is-striped is-fullwidth">
      <div class="table-header">
        <div>Card Name</div>
        <div>Set Name</div>
        <div>Condition</div>
        <div>Rarity</div>
        <div>Quantity</div>
        <div>Price</div>
        <div>Market</div>
        <div>Save</div>
      </div>
      <% @user_card_conditions.each do |ucc| %>
        <%= form_with model: ucc, class: :items, method: :patch, data: { controller: 'user-card-condition--index' } do |form| %>
          <div><%= link_to(ucc.card_condition.card.name, user_card_condition_path(ucc)) %></div>
          <div><%= ucc.card_condition.card.card_set.name %></div>
          <div><%= ucc.card_condition.condition %></div>
          <div><%= ucc.card_condition.card.rarity %></div>
          <div class="quantity">
            <%= form.text_field :quantity, type: :number, class: :input, value: ucc.quantity, data: { target: 'user-card-condition--index.quantity', action: 'keyup->user-card-condition--index#quantityChange' } %>
          </div>
          <div class="price">
            <%= form.text_field :price, class: :input, value: '%.2f' % (ucc.price / 100.0), data: { target: 'user-card-condition--index.price', action: 'keyup->user-card-condition--index#priceChange' } %>
          </div>
          <div class="price">
            <%= ucc.card_condition.latest_price %>
          </div>
          <div class="save">
            <%= form.submit 'Save', class: 'button is-primary', data: { disable_with: 'Saving...', target: 'user-card-condition--index.submit' } %>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= paginate @user_card_conditions, window: 10 %>
    <% if @user_card_conditions.length == 0 %>
      <div class="content">
        <p>You have no inventory saved. Use the search box above to search for cards to add to your inventory!</p>
        <p>Need help? Check out our <a href="https://synkt.freshdesk.com/support/solutions/articles/47000450159-creating-your-first-sync" target="_blank">help page on creating your first sync</a>.</p>
      </div>
    <% end %>
  </div>
</section>
