<% title "Manage #{@user_card_condition.card_condition.card.name} / #{@user_card_condition.card_condition.card.card_set.name}" %>
<section class="section">
  <div class="container" data-controller="user-card-condition--show">
    <div class="columns">
      <div class="column is-one-quarter">
        <figure class="image is-2x3">
          <img src="<%= @user_card_condition.card_condition.card.image_url %>" alt="<%= @user_card_condition.card_condition.card.name %>">
        </figure>
      </div>
      <div class="column is-one-quarter">
        <h1 class="title"><%= @user_card_condition.card_condition.card.name %></h1>
        <h2 class="subtitle"><%= @user_card_condition.card_condition.card.card_set.name %></h2>
        <h3 class="subtitle"><%= @user_card_condition.card_condition.card.rarity %></h3>
        <h3 class="subtitle"><%= @user_card_condition.card_condition.condition %></h3>
        <%= form_with model: @user_card_condition, method: :patch do |form| %>
          <div class="field">
            <label class="label">Quantity</label>
            <div class="control">
              <%= form.text_field :quantity, class: :input %>
            </div>
          </div>
          <div class="field">
            <label class="label">Price</label>
            <div class="control">
              <%= form.text_field :price, class: :input, value: '%.2f' % (@user_card_condition.price / 100.0) %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit 'Save', class: 'button is-primary', 'data-disable-with': 'Saving...' %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="column">
        <h2 class="title is-3">Market Price History</h2>
        <%= line_chart @user_card_condition.card_condition_price_histories.map { |h| [h.date.strftime("%Y-%m-%d"), h.price / 100.0] }, points: false %>
      </div>
    </div>
    <div class="tabs is-large is-boxed">
      <ul>
        <li data-target="user-card-condition--show.ebayButton" class="is-active"><a data-action="user-card-condition--show#showEbay">eBay Activity</a></li>
        <li data-target="user-card-condition--show.shopifyButton"><a data-action="user-card-condition--show#showShopify">Shopify Activity</a></li>
      </ul>
    </div>

    <div class="box" data-target="user-card-condition--show.ebay">
      <% if @user_card_condition.ebay_offers.count > 0 %>
        <h2 class="title is-3">Ebay Listing Links</h1>
        <div class="tabs is-toggle is-medium">
          <ul>
            <% @user_card_condition.ebay_offers.where.not(listing_id: nil).each do |eo| %><li><a href="https://ebay.com/itm/<%= eo.listing_id %>" target="_blank"><%= eo.quantity %>x: <%= eo.listing_id %></a></li><% end %>
          </ul>
        </div>
      <% end %>
      <h2 class="title is-3">Ebay API History</h1>
      <% @user_card_condition.user_card_condition_ebay_api_histories.order(created_at: :desc).limit(10).each do |h| %>
        <div class="box is-clipped">
          <table class="table">
            <tbody>
              <tr>
                <td>At</td>
                <td><%= h.created_at %></td>
              </tr>
              <tr>
                <td>Interaction Type</td>
                <td><%= h.interaction_type%></td>
              </tr>
              <tr>
                <td>Request</td>
                <td><%= h.api_request%></td>
              </tr>
              <tr>
                <td>Response</td>
                <td><%= h.api_response%></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>

    <div class="box is-hidden" data-target="user-card-condition--show.shopify">
      <h2 class="title is-3">Shopify API History</h1>
      <% @user_card_condition.user_card_condition_shopify_api_histories.order(created_at: :desc).limit(10).each do |h| %>
        <div class="box is-clipped">
          <table class="table">
            <tbody>
              <tr>
                <td>At</td>
                <td><%= h.created_at %></td>
              </tr>
              <tr>
                <td>Interaction Type</td>
                <td><%= h.interaction_type%></td>
              </tr>
              <tr>
                <td>Request</td>
                <td><%= h.api_request%></td>
              </tr>
              <tr>
                <td>Response</td>
                <td><%= h.api_response%></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</section>
