<% title "Internal Server Error" %>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <%= image_tag 'sync.svg' %>
        </div>
        <div class="column is-two-thirds">
          <h1 class="title">This page encountered an error</h1>
          <h2 class="subtitle">Something really bad happened, but we've been notified.</h2>
          <p>If you need any assistance with the error on this page, give us a heads up on our <a href="https://synkt.freshdesk.com/support/home">help site</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
