<% title "Page Not Found" %>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <%= image_tag 'sync.svg' %>
        </div>
        <div class="column is-two-thirds">
          <h1 class="title">Page Not Found</h1>
          <h2 class="subtitle">The page you were looking for is not here.</h2>
          <p>If you think this page should exist, give us a heads up on our <a href="https://synkt.freshdesk.com/support/home">help site</a>.</p>
        </div>
      </div>
    </div>
  </div>
</section>
