<% title "Pricing" %>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Subscription Plans</h1>
      <h2 class="subtitle">Choose the level of access you need</h2>
    </div>
  </div>
</section>
<div class="container">
  <div class="pricing-table is-comparative">
    <div class="pricing-plan is-features">
      <div class="plan-header">Features</div>
      <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
      <div class="plan-items">
        <div class="plan-item">Basic Inventory Limit</div>
        <div class="plan-item">Photo Inventory Limit</div>
        <div class="plan-item">Support</div>
      </div>
      <div class="plan-footer"></div>
    </div>
    <div class="pricing-plan">
      <div class="plan-header">Starter</div>
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month</div>
      <div class="plan-items">
        <div class="plan-item">10</div>
        <div class="plan-item">-</div>
        <div class="plan-item">Basic Ticket Support</div>
      </div>
      <div class="plan-footer"></div>
    </div>
    <div class="pricing-plan">
      <div class="plan-header">Basic Inventory Sync</div>
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
      <div class="plan-items">
        <div class="plan-item">Unlimited</div>
        <div class="plan-item">-</div>
        <div class="plan-item">Premium Ticket/Email Support</div>
      </div>
      <div class="plan-footer"></div>
    </div>
    <div class="pricing-plan is-danger">
      <div class="plan-header">Image Inventory Sync</div>
      <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>30</span>/month</div>
      <div class="plan-items">
        <div class="plan-item">Unlimited</div>
        <div class="plan-item">Unlimited</div>
        <div class="plan-item">Premium Ticket/Email Support</div>
      </div>
      <div class="plan-footer">
        <button class="button is-fullwidth" disabled>Coming Soon!</button>
      </div>
    </div>
  </div>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <ul>
          <li><strong>Inventory Limit</strong> is the number of active listings we'll sync to supported marketplaces.</li>
          <li><strong>Photo Inventory</strong> allows you to upload custom photos of your individual inventory items.</li>
          <li><strong>Basic Ticket Support</strong> - We'll reply to your request within 48 hours.</li>
          <li><strong>Premium Ticket/Email Support</strong> - We'll reply and attempt to resolve your issue within one business day.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
