<% title "How Synkt Works" %>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Synkt manages your Magic: the Gathering inventory on popular marketplaces.</h1>
      <h2 class="subtitle">Use our powerful management platform to publish your inventory.</h2>
      <%= image_tag 'inventory.png' %>
      <p>When you change your inventory on Synkt, we'll automatically create and update listings on supported marketplaces on your behalf.</p>
      <p>When you make sales on any supported marketplace, your inventory will automatically update and we'll send the changes to all the other marketplaces.</p>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">Ebay Integration</h1>
        <h2 class="subtitle is-5">Automatically create and manage your Ebay listings</h2>
        <%= image_tag 'ebay_listing.png' %>
        <p>We'll automatically create, manage and update your Ebay listings based on your Synkt inventory.</p>
        <p>We use stock images of every card so that you don't have to worry about taking individual photos of all your cards. Let us do the hard work!</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Listing Mangement</h2>
        <p>We list a subset of your inventory so that you won't oversell when cards spike in price.</p>
        <p>If you have 50 copies of a card, put them all in the management interface and, we'll only list 8 at a time.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">List playsets</h2>
        <p>If you have more than 4 copies of a card we'll create two listings: a 1x listing and a 4x listing.</p>
        <p>Playset listings are more convienent for both the buyer and the store.</p>
        <p>When you drop below 4 copies of a card in your inventory, we'll automatically remove the 4x listing.</p>
      </div>
      <div class="content">
        <h2 class="subtitle is-5">Custom Photo Listings</h2>
        <p>Coming Soon!</p>
        <p>Have a card you want to pop with an awesome photo? Use our custom photo management to manage and price individual cards with distinct photos.</p>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="content">
        <h1 class="title is-3">TCGPlayer Integration</h1>
        <h2 class="subtitle is-5">Coming Soon</h2>
        <div class="content">
          <p>TCGPlayer integration for TCGPlayer Pro sellers is coming soon!</p>
        </div>
      </div>
    </div>
  </div>
</section>
