<%= paginator.render do -%>
  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <%= prev_page_tag %>
    <%= next_page_tag unless current_page.last? %>
    <ul class="pagination-list">
      <% each_page do |page| -%>
        <% if page.display_tag? -%>
          <%= page_tag page %>
        <% elsif !page.was_truncated? -%>
          <%= gap_tag %>
        <% end -%>
      <% end -%>
    </ul>
  </nav>
<% end -%>
