<li>
  <% if page.current? %>
    <%= link_to page, url, {remote: remote, rel: page.rel, class: 'pagination-link is-current', 'aria-label': "Goto page #{page}"} %>
  <% else %>
    <%= link_to page, url, {remote: remote, rel: page.rel, class: 'pagination-link', 'aria-label': "Goto page #{page}"} %>
  <% end %>
</li>
