<% if current_page.first? %>
  <%= link_to t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: 'pagination-previous', disabled: :disabled %>
<% else %>
  <%= link_to t('views.pagination.previous').html_safe, url, rel: 'prev', remote: remote, class: 'pagination-previous' %>
<% end %>

