<% title "Ebay Marketplace Settings - Ebay Token" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :token %>
    </div>
    <div class="column">
      <% if !@has_ebay %>
        <p class="subtitle">To get started using Synkt with Ebay listings, we need your authorization to use your Ebay account.</p>
        <p class="subtitle">After setting up your authorization, you can setup the rest of your Ebay data using the menu above.</p>
        <%= form_tag request_grant_ebay_token_path, method: :post do %>
          <button type="submit" class="button is-primary">Grant Authorization</button>
        <% end %>
      <% else %>
        <p><strong>Your ebay OAuth2 token is complete!</strong></p>
        <p>In order to revise your items on ebay, you'll need to opt-in to business policies for your account. Please use the following link and opt-in before continuing the ebay setup process:</p>
        <p>https://www.bizpolicy.ebay.com/businesspolicy/policyoptin</p>
      <% end %>
    </div>
  </div>
</div>
