<% title "Manage Your Synkt Access" %>
<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
  <meta name="stripe_key" content="<%= Rails.configuration.stripe['publishable_key'] %>">
  <%= stylesheet_link_tag 'subscriptions', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<div data-controller="subscriptions--show">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Subscription Plans</h1>
        <h2 class="subtitle">Choose the level of access you need</h2>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="pricing-table is-comparative">
      <div class="pricing-plan is-features">
        <div class="plan-header">Features</div>
        <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
        <div class="plan-items">
          <div class="plan-item">Basic Inventory Limit</div>
          <div class="plan-item">Photo Inventory Limit</div>
          <div class="plan-item">Support</div>
        </div>
        <div class="plan-footer">

        </div>
      </div>
      <div class="pricing-plan<%= current_user.free_plan? ? ' is-active' : '' %>" data-target="subscriptions--show.free">
        <div class="plan-header">Starter</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month</div>
        <div class="plan-items">
          <div class="plan-item">10</div>
          <div class="plan-item">-</div>
          <div class="plan-item">Basic Ticket Support</div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth" data-target="subscriptions--show.freeButton" data-plan="<%= Rails.configuration.stripe['free_subscription'] %>" data-action="subscriptions--show#freeClick">
            <%= current_user.free_plan? ? ' Current plan' : 'Choose' %>
          </button>
        </div>
      </div>
      <div
        class="pricing-plan<%= current_user.basic_plan? ? ' is-active' : '' %>"
        data-target="subscriptions--show.starter"
      >
        <div class="plan-header">Basic Inventory Sync</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>20</span>/month</div>
        <div class="plan-items">
          <div class="plan-item">Unlimited</div>
          <div class="plan-item">-</div>
          <div class="plan-item">Premium Ticket/Email Support</div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth" data-target="subscriptions--show.starterButton" data-plan="<%= Rails.configuration.stripe['basic_subscription'] %>" data-action="subscriptions--show#starterClick">
            <%= current_user.basic_plan? ? ' Current plan' : 'Choose' %>
          </button>
        </div>
      </div>
      <div class="pricing-plan is-danger">
        <div class="plan-header">Image Inventory Sync</div>
        <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>30</span>/month</div>
        <div class="plan-items">
          <div class="plan-item">Unlimited</div>
          <div class="plan-item">Unlimited</div>
          <div class="plan-item">Premium Ticket/Email Support</div>
        </div>
        <div class="plan-footer">
          <button class="button is-fullwidth" disabled>Coming Soon!</button>
        </div>
      </div>
    </div>
  </div>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-fifth"></div>
          <div class="column is-three-fifths">
            <%= form_with url: subscription_path, html: { method: :put}, data: { target: 'subscriptions--show.form' } do |f| %>
              <input type="hidden" name="card_token" data-target="subscriptions--show.cardToken">
              <input type="hidden" name="plan" data-target="subscriptions--show.plan" value="<%= current_user.stripe_subscription_plan['id'] %>">
              <input type="hidden" name="has_payment_method" data-target="subscriptions--show.hasPaymentMethod" value="<%= !!@card ? 'true' : 'false' %>">
              <% if @card %>
                <div class="field payment is-horizontal">
                  <div class="field-label is-normal">
                    <label class="label">Saved Card</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <div class="control is-expanded">
                        <p><%= @card['brand'] %>, Expiring <%= @card['exp_month'] %>/<%= @card['exp_year'] %>, Last 4 of <%= @card['last4'] %></p>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="field is-horizontal">
                  <div class="field-label is-normal"></div>
                  <div class="field-body">
                    <div class="field">
                      <div class="field-label is-normal"></div>
                      <div class="field-body">
                        <div class="field">
                          <a data-target="subscriptions--show.newPaymentLink" data-action="subscriptions--show#showPaymentFields">New payment method</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <div data-target="subscriptions--show.newPaymentLink" data-action="subscriptions--show#showPaymentFields"></div>
              <% end %>

              <div data-target="subscriptions--show.paymentMethod" class="field payment is-horizontal<%= !!@card || current_user.free_plan? ? ' is-hidden' : '' %>">
                <div class="field-label is-normal">
                  <label class="label">Payment Info</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control is-expanded">
                      <div id="card-element"></div>
                    </div>
                  </div>
                </div>
              </div>
              <% if !@discount %><div data-target="subscriptions--show.paymentPromoCode" class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Promo Code</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input type="text" class="input" name="promo_code" class="<%= !!@discount || current_user.free_plan? ? ' is-hidden' : '' %>">
                    </div>
                  </div>
                </div>
              </div><% end %>

              <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <button class="button is-primary" data-target="subscriptions--show.submit" data-action="subscriptions--show#submitForm">Save Subscription</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <ul>
          <li><strong>Inventory Limit</strong> is the number of active listings we'll sync to supported marketplaces.</li>
          <li><strong>Photo Inventory</strong> allows you to upload custom photos of your individual inventory items.</li>
          <li><strong>Basic Ticket Support</strong> - We'll reply to your request within 48 hours.</li>
          <li><strong>Premium Ticket/Email Support</strong> - We'll reply and attempt to resolve your issue within one business day.</li>
        </ul>
      </div>
    </div>
  </section>
</div>
