<% title "Ebay Marketplace Settings - Ebay Token" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :tcgplayer_token %>
    </div>
    <div class="column">
      <h2 class="title">TCGPlayer Token Authorization</h2>
      <hr>
      <% if @has_tcgplayer %>
      <p class="subtitle">Your TCGPlayer Pro account connection is complete!</p>
      <% else %>
      <p class="subtitle">To get started using Synkt with TCGPlayer, we need your authorization to use your TCGPlayer Pro account. Use the button below to login to your TCGPlayer account, confirm access and copy the Authorization Code you receive.</p>
      <p class="subtitle error">If you see a <code>You do not have permission to access this resource</code> error message, you do not have a TCGPlayer Pro account. A TCGPlayer Pro account is required to use this feature.</p>
      <p class="subtitle"><a href="https://store.tcgplayer.com/admin/Apps/2555" class="button is-primary" target="_blank">Grant Authorization</a></p>
      <hr>
      <%= form_tag tcgplayer_token_path, method: :post do %>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Authorization Code</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="code" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
