<h1 class="title">Address</h1>
<%= form_for @address, url: {controller: :addresses, action: :update}, html: { method: :patch }  do |f| %>
  <div class="field">
    <label class="label">Street</label>
    <div class="control">
      <%= f.text_field :street, class: 'input' %>
    </div>
    <% if @address.errors[:street].any? %><p class="help is-danger"><%= @address.errors.messages[:street].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <label class="label">Building</label>
    <div class="control">
      <%= f.text_field :building, class: 'input' %>
    </div>
    <% if @address.errors[:building].any? %><p class="help is-danger"><%= @address.errors.messages[:building].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <label class="label">City</label>
    <div class="control">
      <%= f.text_field :city, class: 'input' %>
    </div>
    <% if @address.errors[:city].any? %><p class="help is-danger"><%= @address.errors.messages[:city].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <label class="label">Subnational</label>
    <div class="control">
      <%= f.text_field :subnational, class: 'input' %>
    </div>
    <% if @address.errors[:subnational].any? %><p class="help is-danger"><%= @address.errors.messages[:subnational].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <label class="label">Postal Code</label>
    <div class="control">
      <%= f.text_field :postal_code, class: 'input' %>
    </div>
    <% if @address.errors[:postal_code].any? %><p class="help is-danger"><%= @address.errors.messages[:postal_code].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <label class="label">Country</label>
    <div class="control">
      <%= f.text_field :country, class: 'input' %>
    </div>
    <% if @address.errors[:country].any? %><p class="help is-danger"><%= @address.errors.messages[:country].join(', ') %></p><% end %>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
<% end %>
