<% title "Shopify Marketplace Settings" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :shopify_token %>
    </div>
    <div class="column">
      <h2 class="title">Shopify Store API Authorization</h2>
      <hr>
      <% if @has_shopify %>
      <p class="subtitle">Your Shopify account connection is complete!</p>
      <% else %>
        <p class="subtitle">To get started using Synkt with Shopify, you need to create a <code>Private App</code> in your Shopify store. Visit <code>Apps -> Manage Private Apps</code> and use the <code>Create a new private app</code> in the top right corner. Use the keys it generates to fill in the fields below.</p>
        <p>This will create a webhook in your shopify store that notifies Synkt whenever an order is placed on your Shopify store.</p>
        <p>IMPORTANT: Entering an incorrect <code>Webhook secret</code> value will cause your sales in Shopify to fail to sync! Make sure it is correct.</p>
      <hr>
      <%= form_tag shopify_token_path, method: :post do %>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Store Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="shop" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">API Key</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="api_key" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Password</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="password" class="input" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Webhook Secret</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="shared_secret" class="input" type="text">
              </div>
              <p class="help is-info">Find this in Shopify at <code>Settings -> Notifications -> Webhooks</code> at the bottom of the page with <code>All your webhooks will be signed with</code>.</p>
              <p class="help is-link">IMPORTANT: An incorrect value here will cause your inventory to fail to sync when Shopify sales occur..</p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
