.field.payment .StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

#card-element {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #363636;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  padding-left: 1rem;
}
