// Place all the styles related to the UserCardCondition controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass/utilities/initial-variables";

.quantity { width: 6rem; }
.price { width: 6rem;}
.save { width: 8rem; }

form.search {
  padding-bottom: 1rem;
}

div.table { display: table; } 
div.table>* { display: table-row; }
div.table>*>* {
  display: table-cell;
  padding: 0.5em 0.75em;
}
div.table>.table-header>* {
  border: 1px solid $grey-lighter;
  border-width: 0 0 2px;
}
div.table>.table-header>* { font-weight: bold; }

@media
only screen and (max-device-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
  div.table { display: block; }
  div.table>* { display: block; }
  div.table>*>* {
    display: block;
  }
  .table-header {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  form.items, div.item {
    border: none;
    border-bottom: 1px solid $grey-lighter;
  }
  form.items div, div.item div {
    position: relative;
    padding-left: 40%;
  }
  form.items div:before, div.item div:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 30%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  .quantity { width: auto; }
  .price { width: auto; }

  form.items div:nth-of-type(1):before { content: "Card Name"; }
  form.items div:nth-of-type(2):before { content: "Set Name"; }
  form.items div:nth-of-type(3):before { content: "Condition"; }
  form.items div:nth-of-type(4):before { content: "Rarity"; }
  form.items div:nth-of-type(5):before { content: "Quantity"; }
  form.items div:nth-of-type(6):before { content: "Price"; }

  div.item div:nth-of-type(1):before { content: "Date"; }
  div.item div:nth-of-type(2):before { content: "API Request"; }
  div.item div:nth-of-type(3):before { content: "API Response"; }
}
