<% title "Ebay Marketplace Settings - Ebay Inventory Location" %>

<% content_for :javascript do %>
  <%= javascript_pack_tag 'ebay_location_edit' %>
<% end %>

<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :location %>
    </div>
    <div class="column">
      <h2 class="subtitle">Location</h2>
      <% if !@current_user.user_ebay %>
        <p>Please setup your API Token using the menu before setting up your location.</p>
      <% else %>
        <% if !@ebay_location %>
          <p>Ebay requires each listing to be associated with an inventory location. This should be your primary address that you ship inventory from.</p>
          <p>We only support accounts based in the USA currently.</p>
        <% else %>
          <p>Your Ebay inventory location has been saved. It cannot be changed once saved.</p>
        <% end %>
        <%= form_with url: ebay_location_path, html: { method: :patch, disabled: !!@ebay_location } do |f| %>
          <fieldset class="box"<% if !!@ebay_location %> disabled<% end %>>
            <div class="field">
              <label class="label">Street</label>
              <div class="control">
                <%= f.text_field :street, value: @inventory_location.street, class: 'input' %>
              </div>
            </div>
            <div class="field">
              <label class="label">Building</label>
              <div class="control">
                <%= f.text_field :building, value: @inventory_location.building, class: 'input' %>
              </div>
            </div>
            <div class="field">
              <label class="label">City</label>
              <div class="control">
                <%= f.text_field :city, value: @inventory_location.city, class: 'input' %>
              </div>
            </div>
            <div class="field">
              <label class="label">State or Province</label>
              <div class="control">
                <%= f.text_field :state_or_province, value: @inventory_location.state_or_province, class: 'input' %>
              </div>
            </div>
            <div class="field">
              <label class="label">Postal Code</label>
              <div class="control">
                <%= f.text_field :postal_code, value: @inventory_location.postal_code, class: 'input' %>
              </div>
            </div>
            <div class="field">
              <label class="label">Country</label>
              <div class="control">
                <%= f.text_field :country, value: @inventory_location.country, class: 'input' %>
              </div>
            </div>
            <% if !@ebay_location %><div class="field">
              <div class="control">
                <button type="submit" class="button is-link">Save</button>
              </div>
            </div><% end %>
          </fieldset>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
