<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu' %>
    </div>
    <div class="column">
      <h1 class="title">Marketplace Settings</h2>
      <h2 class="subtitle">Use the menu on the left to manage your marketplace settings</h2>
    </div>
  </div>
</div>
