<% title "Ebay Marketplace Settings - Ebay Listing Template" %>
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <%= render 'shared/marketplace_menu', active_tab: :template %>
    </div>
    <div class="column">
      <h2 class="title">Custom eBay Listing Template</h2>
      <hr>
      <p class="subtitle">Synkt provides a sensible default template for your listings. If you'd like a custom one, you can enter your HTML below.</p>
      <p>You can use the following template variables to edit your listing:</p>
      <ul>
        <li><code>{{ .CardName }}</code></li>
        <li><code>{{ .SetName }}</code></li>
        <li><code>{{ .PhotoURL }}</code></li>
        <li><code>{{ .Qty }}</code></li>
        <li><code>{{ .Condition }}</code></li>
        <li><code>{{ .ListingQuantityText }}</code> ("one copy" vs "four copies")</li>
      </ul>
      <%= form_with url: ebay_template_path, html: { method: :patch } do |f| %>
        <div class="field">
          <div class="control">
            <textarea name="template" class="textarea" placeholder="HTML Content Here"><%= @template %></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-link" data-disable-with="Saving...">Save</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
