<!DOCTYPE html>
<html>
  <head>
    <title>Synkt - <%= content_for?(:title) ? yield(:title) : 'Sync Magic: the Gathering to Ebay and TCGPlayer' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Synkt helps you manage your Magic: the Gathering inventory and sell on Ebay and TCGPlayer">
    <%= favicon_link_tag asset_path('favicon-32x32.png'), :rel => 'icon', :type => 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type => 'image/png', sizes: '16x16' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), :rel => 'apple-touch-icon', :type => 'image/png', sizes: '180x180' %>
	 <% if user_signed_in? %>
		<meta name="user_id" content="<%= current_user[:id] %>">
		<meta name="user_email" content="<%= current_user[:email] %>">
		<meta name="user_first_name" content="<%= current_user[:first_name] %>">
	 <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_pack_tag 'application', defer: true %>
    <%= javascript_pack_tag 'chartkick' %>
    <%= yield :javascript %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= yield :head %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to(image_tag('sync.svg', width: 50), root_url, class: 'navbar-item') %>
          <a role="button" class="navbar-burger" data-target="nav-menu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="nav-menu">
          <div class="navbar-start">
            <% if user_signed_in? %>
              <%= link_to 'Manage My Cards', user_card_condition_index_path, class: 'navbar-item' %>
              <%= link_to 'Marketplace Settings', marketplace_settings_path, class: 'navbar-item' %>
            <% else %>
              <!--<%= link_to 'Pricing', pricing_path, class: 'navbar-item' %>-->
            <% end %>
            <%= link_to 'Help', 'https://synkt.freshdesk.com/support/home', class: 'navbar-item' %>
          </div>
          <div class="navbar-end">
            <% if user_signed_in? %>
              <div class="navbar-item">
                <%= form_tag(user_card_condition_index_path, method: :get, class: 'field has-addons') do %>
                  <input type="hidden" name="card[in_stock]" value="true">
                  <div class="control"><input class="input" type="search" placeholder="Quick Inventory Search" name="card[name]" ></div>
                  <div class="control"><button class="button is-primary" type="submit">Search</button></div>
                <% end %>
              </div>
              <%= link_to 'Subscription', subscription_path, class: 'navbar-item' %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to('Logout', logout_path, method: :get, class: 'navbar-item') %>
            <% else %>
              <%= link_to('Login / Sign Up', '/auth/auth0', method: :post,  class: "navbar-item") %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <% if notice %><div class="container"><div class="notification is-info"><button class="delete"></button><%= notice %></div></div><% end %>
    <% if alert %><div class="container"><div class="notification is-danger"><button class="delete"></button><%= alert %></div></div><% end %>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>&copy; <%= Time.now.year %> synkt.app</p>
          <p><a href="https://synkt.freshdesk.com/support/home">Help</a></p>
          <p><%= link_to 'Privacy', privacy_path %> <%= link_to 'Terms', terms_path %></p>
        </div>
      </div>
    </footer>
  </body>
</html>
